<?xml version="1.0"?>
<launch>

    <node pkg="motion_detection" type="motion_detection" name="motion_detection" output="screen" respawn="false">
        <!--remap from="~input_image" to="/tower_cam3d/rgb/image_raw"/-->        
        <remap from="~input_image" to="/image_sequence_publisher/output_image"/> 
        <remap from="~input_pointcloud" to="/tower_cam3d/depth_registered/points"/>        
        <remap from="~input_camerainfo" to="/tower_cam3d/rgb/camera_info"/>        

        <param name="x_trans" type="double" value="0.0" />
        <param name="y_trans" type="double" value="-0.01" />
        <param name="z_trans" type="double" value="0.1" />
        <param name="roll"    type="double" value="0.0" />
        <param name="pitch"   type="double" value="0.0" />
        <param name="yaw"     type="double" value="0.0" />
        <param name="use_odom" type="bool" value="false" />
        <param name="use_pointcloud" type="bool" value="false" />
        <param name="record_video" type="bool" value="false" />       
        <param name="use_all_frames" type="bool" value="true" />
        <param name="skip_frames" type="int" value="1" />
        <param name="write_vectors" type="bool" value="false" />
        <param name="include_zeros" type="bool" value="true" />

        <param name="log_contours" type="bool" value="false" />
        <param name="log_path" type="string" value="/home/santosh/workspace/rnd/motion_detection_scripts/compare_areas/0005.log" />
        <param name="pixel_step" type="int" value="20" />
        <param name="distance_threshold" type="double" value="90.0" />
        <param name="angular_threshold" type="double" value="0.15" />
        <param name="min_vector_size" type="double" value="1.0" />
        <!-- subspace fitting -->
        <param name="sigma" type="double" value="8.0" />
        <param name="num_motions" type="int" value="4" />

    </node>

    <!--node name="expected_flow_image" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/motion_detection/expected_flow_image"/>
    </node-->

    <node name="optical_flow_image" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/motion_detection/optical_flow_image"/>
    </node>

    <node name="compensated_flow_image" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/motion_detection/compensated_flow_image"/>
    </node>

    <node name="clustered_flow_image" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/motion_detection/clustered_flow_image"/>
    </node>

    <!--node name="background_subtraction_image" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/motion_detection/background_subtraction_image"/>
    </node-->
</launch>
